# Required
ADMIN_PASSWORD="mypasswordisvalid"
POLICY_ENGINE_API_SECRET=thisisasecretvaluesds

# Others
TZ=Europe/Madrid
SERVER_PORT=8080
TRUSTED_PROXY="::1"

# Logging
LOG_LEVEL=debug
LOG_FORMAT=text
LOG_COLOR=TRUE

# Database
DB_DIR=./data
