# --- Build Artifacts ---
# Binaries
/bin/
/dist/
/tmp/
/internal/ui/dist

/node_modules

# Scratch/test files
scratch_test.go

# SQLite Database files
*.db
*.db-journal
*.db-wal
*.sqlite
*.db-shm
# Default DB folder
/data

# Environment variables (Secrets)
.env
.env.*
!.env.example

# --- IDEs & Editors ---
# JetBrains (IntelliJ, GoLand, etc.)
.idea/
*.iml

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# GoLand
.idea/*

# Vim/Emacs
*.swp
*.swo
*~

# --- OS Specific ---
.DS_Store
Thumbs.db

# Frontend UI testing
.playwright-cli/

/scripts/internal